<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Memory Made</title>
</head>
<body>
    <div class='container'>
        <h1>You created a memory of {{ newplace.getCity }}!</h1>
        <img src='/../img/suitcase.jpg' alt='suitcase photo'>
        <h3><a href='/'>View all memoriez!</a></h3>
    </div>
</body>
</html>
