<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Deletion</title
</head>
<body>
    <div class='container'>
        <h1>Memoriez were deZeted.</h1>
        <p><a href='/'>Go home</a></p>
    </div>
</body>
</html>
